html {
  background-color: #fefefe; }

body {
  margin: 0;
  font-family: sans-serif;
  color: #222;
  font-size: 16px; }

.main {
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  max-width: 650px;
  max-width: 80ch; }

pre {
  background-color: #eee;
  margin: 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  overflow-x: scroll;
  font-size: 15px; }
  pre > code {
    padding: 0; }

code {
  background-color: #eee;
  border-radius: 4px;
  padding: 0 4px; }

table {
  border-collapse: collapse;
  padding: 8px;
  width: 100%;
  text-align: left; }
  table th, table td {
    border: 1px solid #d4d4d4;
    padding: 8px; }

#profile {
  width: 150px;
  border: 2px solid #222;
  border-radius: 50%; }
