html {
  background-color: #fefefe; }

body {
  margin: 0;
  font-family: sans-serif;
  color: #222;
  font-size: 16px; }

.main {
  margin: 0 auto;
  padding: 0 8px;
  max-width: 650px;
  max-width: 80ch; }

#profile {
  width: 150px;
  border: 2px solid #222;
  border-radius: 50%;
  background: #fefefe; }

pre {
  margin: 0;
  padding: 8px;
  border: 1px solid #d4d4d4;
  overflow-x: scroll;
  font-size: 15px; }
  pre > code {
    padding: 0;
    background: none; }

code {
  background-color: #efefef;
  border-radius: 4px;
  padding: 0 4px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left; }
  table th, table td {
    border: 1px solid #d4d4d4;
    padding: 4px; }
